NEXT_PUBLIC_BASE_URL=https://api.gradabroad.net
NEXT_PUBLIC_UNIVERSITY_DASHBOARD_URL=https://university.gradabroad.net
NEXT_PUBLIC_SITE_URL=https://gradabroad.net
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id
NEXT_PUBLIC_ENABLE_LOGGING=false
